---
layout: default
title: warmhug
---

<ul class="recent-posts">
  {% for post in site.posts limit:10 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  <li><a href="archives.html">...</a></li>
</ul>

<div class="category">
  {% for tag in site.tags %}
  <a href='/tags.html#{{ tag[0] | escape }}'>{{ tag[0] }}</a>
  {% endfor %}
</div>

<pre style="margin-top: 20px;">
  I hear and I forget.  I see and I remember.  I do and I understand.

  Love ends when you stop caring.
  Friendship ends when you stop sharing.
  Life stops when you stop dreaming.
  Hope ends when you stop believing.
</pre>
