---
layout: default
title: Warmhug's blog
---

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<ul class="list-unstyled">
  {% for post in posts %}
  <li class="py-2">
    <h1 class="mt-2 h3">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h1>
    <div class="mb-2 text-secondary">{{ post.date | date: "%F" }}</div>
    <div class="text-justify">
      {{ post.excerpt }}
    </div>
  </li>
  {% endfor %}
</ul>

{% if site.paginate %}
<span class="py-1" aria-label="Blog page navigation">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
  {% endif %}

  Page: {{ paginator.page }} of {{ paginator.total_pages }}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% endif %}
</span>
{% endif %}
&bull;
<a href="/posts.html">全部随笔</a>
