---
layout: default
title: warmhug
---

<style>
.recent-posts {
  line-height: 20px;
  padding: 0 70px 0 0;
  letter-spacing: 0.5px;
  list-style: none;
}
.recent-posts li {
  margin-bottom: 9px;
}
.category {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #eee;
}
.category a {
  margin: 5px;
}
</style>

<ul class="recent-posts">
  {% for post in site.posts limit:10 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  <li><a href="archives.html">...</a></li>
</ul>

<div class="category">
  {% for tag in site.tags %}
  <a href='/tags.html#{{ tag[0] | escape }}'>{{ tag[0] }}</a>
  {% endfor %}
</div>

<pre style="margin-top: 20px;">
  I hear and I forget.  I see and I remember.  I do and I understand.

  Love ends when you stop caring.
  Friendship ends when you stop sharing.
  Life stops when you stop dreaming.
  Hope ends when you stop believing.
</pre>
