/*html {
  background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}*/
body {
  padding: 0;
  margin: 0;
  background-color: #F5F4EF;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==') fixed;
  /*background: url(https://os.alipayobjects.com/rmsportal/NDDXNJaIPHCkYZS.png) fixed;*/
  /*font: 14px/1.6 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font: 14px/1.6 -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.wrapper {
  width: 768px;
  margin: 50px auto;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 1px 3px;
  background: #fff;
}
@media print, screen and (max-width: 740px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
  }
}
.header, .wrapper-main, footer {
  display: block;
  padding: 15px 20px;
}
.header {
  position: relative;
  border: 1px solid #dbe4e8;
}
.header h1 {
  margin: 0; text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}
.header p {
  margin: 0; color: #61778B; font-size: 12px;
}
.header .title { color: #7d94a9; }
.header .github {
  position: absolute; z-index: 1; right: 20px; top: 20px; font-size: 12px;
}
.wrapper-main {
  position: relative;
  padding-bottom: 0;
}
.wrapper-main-post {
  letter-spacing: 0.5px;
}

.recent-posts {
  line-height: 20px;
  padding: 0 70px 0 0;
  letter-spacing: 0.5px;
  list-style: none;
}
.recent-posts li {
  margin-bottom: 9px;
}
.category {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #eee;
}
.category a {
  margin: 5px;
}
#related h3 {
  margin: 10px 0;
}
