---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="pt-2 pb-2">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="text-secondary">
      {% if page.author %}
        {% if page.author_url %}
          <a href="{{ page.author_url }}">
        {% endif %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% if page.author_url %}
          </a>
        {% endif %}
        &bull;
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </header>

  <div class="text-justify" itemprop="articleBody" id="content">
    {{ content }}
  </div>

  <small class="meta">
  {{ page.date | date: "%F" }} | by {{ page.author_name }}

  {% for t in page.tags %}
    {% if forloop.first == true %} | {% endif %}
    <a href='/posts.html#{{ t | escape }}'>{{ t }}</a>
    {% if forloop.last == false %}, {% endif %}
  {% endfor %}
  </small>
</article>

<div class="mt-3 mb-3">
  <h3>最近文章</h3>
  <div>
    {% for post in site.related_posts limit:3 %}
    <div>
      <span>{{ post.date | date: "%F" }}</span> &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
